canvas {
  width: 1024;
  height: 512;
}

@font-face {
font-family: Quicksand;
src: url("fonts/Quicksand-Light.otf") format("opentype");
}

body {
  font-family: 'Quicksand', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

/*svg things*/
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}